@model List<Project>
@{
    ViewData["Title"] = "Projelerim";
    Layout = "~/Views/AdminLayout/Layout.cshtml";
    int count = 0;
}

<table class="table table-bordered table-hover">
    <tr>
        <th>#</th>
        <th>Proje Resmi</th>
        <th>Proje Adı</th>
        <th>Açıklama</th>
        <th>Github Url</th>
        <th>Kategori</th>
        <th>İşlemler</th>
    </tr>
    @foreach (var item in Model)
    {
        count++;
        <tr>
            <th>@count</th>
            <td><img src="@item.ImageUrl" style="height:75px;width:75px" /></td>
            <td>@item.ProjectName</td>
            <td>@item.Description</td>
            <td><a href="@item.GithubUrl">Github Linki</a></td>
            <td>@item.Category.CategoryName</td>
            <td>
                <button onclick="deleteProject(@item.ProjectId)" class="btn btn-outline-danger">Sil</button>
                <a href="/Project/UpdateProject/@item.ProjectId" class="btn btn-outline-info">Güncelle</a>
            </td>
        </tr>
    }
</table>

<a href="/Project/CreateProject" class="btn btn-outline-primary">Yeni Proje Oluştur</a>

            <script>

                function deleteProject(id)
                {
                        Swal.fire({
      title: "Silmek istediğinize emin misiniz?",
      text: "Bu işlemi geri alamazsınız",
      icon: "warning",
      showCancelButton: true,
      confirmButtonColor: "#3085d6",
      cancelButtonColor: "#d33",
      confirmButtonText: "Evet,sil",
      cancelButtonText: "Vazgeç"
    }).then((result) => {
      if (result.isConfirmed) {
        window.location.href = "/Project/DeleteProject/" + id;
      }
    });
                }

            </script>