@using Portfolio.Web.Entities
@model List<ContactInfo>

    @{
        ViewData["Title"] = "İletişim Bilgileri";
        Layout = "~/Views/AdminLayout/Layout.cshtml";
        int count = 0;
    }

    <table class="table table-bordered table-hover">
        <thead>
            <tr>
                <th>#</th>
                <th>Adres</th>
                <th>Cep Telefonu</th>
                <th>E-Mail</th>
                <th>Harita</th>
                <th>İşlemler</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model)
            {
                count++;
                <tr>
                    <td>@count</td>
                    <td>@item.Address</td>
                    <td>@item.PhoneNumber</td>
                    <td>@item.Email</td>
                    <td>
                        <a target="_blank" href="@item.MapUrl">Harita Url</a>
                    </td>
                    <td>
                        <a href="/ContactInfo/DeleteContactInfo/@item.ContactInfoId" class="btn btn-outline-danger">Sil</a>
                        <a href="/ContactInfo/UpdateContactInfo/@item.ContactInfoId" class="btn btn-outline-info">Güncelle</a>
                    </td>
                </tr>
            }
        </tbody>
    </table>

    <a href="/ContactInfo/CreateContactInfo/" class="btn btn-outline-primary">Yeni İletişim Bilgisi Oluştur</a>
