@model List<Experience>

<section id="resume" class="resume section">

    <!-- Section Title -->
    <div class="container section-title" data-aos="fade-up">
        <h2>İş Hayatım</h2>
    </div><!-- End Section Title -->
    <!-- Resume Items Row -->
    <div class="container">
        <div class="row">
            @foreach (var item in Model)
            {
                <div class="col-lg-6 col-md-12 mb-4" data-aos="fade-up" data-aos-delay="100">
                    <div class="resume-item pb-0">
                        <h4>@item.Company</h4>
                        <p><em>@item.Description</em></p>
                        <ul>
                            <li>Şehir: @item.City</li>
                            <li>Başlangıç Yılı: @item.StartYear & Bitiş Yılı: @item.EndYear</li>
                        </ul>
                    </div><!-- End Resume Item -->
                </div>
            }
        </div>
    </div>

</section>
